* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: left;
}

.header {
  background-color: #FFFFFF;
  justify-content: start;
  align-items: end;
  padding-left:5%;
  padding-top:40px;
}

.email {
  background-color: #FFFFFF;
  justify-content: flex-end;
  align-self: flex-end;
}

ul {
  list-style-type: "• ";
  font-family: Times New Roman, serif;
  color: black;
  font-size:16px;
}

ul.b {
  list-style-type: "- ";
  padding-left:15px;
}

li {
  font-family: Times New Roman, serif;
  font-size:16px;
  margin-top:3px;
}

a {
  color: #982906;
}

a:visited {
  color: #982906;
}

a:hover, a:active, a:focus {
  color:#e38103;
}

.menu {
  display: flex;
  background-color: #FFFFFF;
  font-size:16px;
  font-family: Times New Roman, serif;
  text-align:center;
  padding-left:5%;
  height: 40px;
}

.menu a {
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #be5100;
  color: white;
}

.menu a.active {
  background-color: #be5100;
  color: white;
}

/* Style the dropdown button (so it looks like other menu buttons)*/
.dropdown .dropdown-btn {
  font-size:16px;
  font-family: Times New Roman, serif;
  text-align:center;
  height: 40px;
  display: flex;
  color: #000000;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}

/* On mouse-over */
.dropdown-btn:hover {
  background-color: #be5100;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  max-width: 200px;
  min-height: 50px;
  max-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size:14px;
  font-family: Times New Roman, serif;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #be5100;
  color: white;
}

/* Displays the dropdown menu itself */
.dropdown:hover .dropdown-content {
  display: block;
}

.space-2 {
  background-color: #FFFFFF;
  padding-left:5%;
  height: 20px;
}

.line-1 {
  background-color: LightGray;
  padding-left:5%;
  height: 1px;
}

.space-1 {
  background-color: #FFFFFF;
  padding-left:5%;
  height: 20px;
}

.space-3 {
  background-color: #FFFFFF;
  padding-left:5%;
  height: 10px;
}

.line-2 {
  background-color: LightGray;
  padding-left:5%;
  height: 1px;
}

.picture {
  background-color: #FFFFFF;
  padding-left:5%;
}

.picture2 {
  background-color: #FFFFFF;
  padding-left:5%;
}

.description {
  padding-left:5%;
  padding-right: 5%;
  background-color: #FFFFFF;
  flex: 2;
}

.description2 {
  padding-left:5%;
  padding-right: 5%;
  padding-top:15px;
  background-color: #FFFFFF;
}

.description3 {
  padding-left:5%;
  padding-right: 5%;
  background-color: #FFFFFF;
}

.headerp {
  font-family: Times New Roman, serif;
  color: black;
  background-color: #FFFFFF;
  padding-left:5%;
  padding-bottom:5px;
}

.listing {
  background-color: #FFFFFF;
  padding-left:8%;
  padding-right: 5%;
}





/* Mobile Styles */
@media only screen and (max-width: 400px) {

  .email {
  padding-left:5%;
  justify-content: left;
  align-items: end;
  }

  .menu a {
    font-size:14px;
    height: 25px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .space-2 {
    height: 0px;
  }

  .picture {
    align-items: center;
    justify-content: center;
    padding-bottom:20px;
  }
  
  .picture2 {
    align-items: center;
    justify-content: center;
    paddingbottom: 30px;
  }
  
  .description {
    padding-bottom:30px;
  }

}




/* Tablet Style 1 */
@media only screen and (min-width: 401px) and (max-width: 649px) {

  .email {
    padding-left:5%;
    justify-content: left;
    align-items: end;
  }

  .menu a {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* Style the dropdown button */
  .dropdown .dropdown-btn {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* Style the dropdown menu */
  .dropdown-content {
    min-width: 80px;
    max-width: 150px;
  }

  /* Style the text in the dropdown menu */
  .dropdown-content a {
    font-size:13px;
  }

  .picture {
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .picture2 {
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .description {
    padding-bottom:30px;
  }

}






/* Tablet Style 2 */
@media only screen and (min-width: 650px) and (max-width: 960px) {

  .header,
  .email {
    width: 40%;
  }

  .picture,
  .description {
    padding-bottom:30px;
    width: 300px;
  }
  
  .picture2 {
    align-items: center;
    justify-content: center;
    padding-bottom:30px;
  }
  
}






/* Desktop Styles */
@media only screen and (min-width: 961px) {

  .page {
    width: 960px;
    margin: 0 auto;
  }

  .header,
  .email {
    width: 50%;
  }

  .picture,
  .description {
    width: 30%;
    height: 300px;
  }
  
  .picture2,
  .description {
    width: 35%;
    height: 300px;
  }

}
