
/* The CSS selector `*' applies the specified values to the specified properties across all elements in the webpage whatsoever. */

 * {
  
} 



/* The code `display: flex;' makes every item, in the contain in question, a flex item. */
/* The entry `margin: auto' is what centers the flexheader entry horizontally in the browser. */
/* The value of 40px assigned to `padding-top' in `flexheaderemail' was obtained by this equation: 40px = 20px (padding-top for flexheader name) + 36px (size of text in flexheadername) -16px (size of text in this element) */
/* The padding on the `.menu a' classes was calculated, in all cases, so that it equals the amount of space above and below the text in the menu buttons. */



/* Header with name and email */

.flexheader {
  display: flex;
  width: 1000px;
  margin: auto;
  background-color: green;
}
.flexheadername {
  background-color: DodgerBlue;
  padding: 20px 20px 0px 0px;
  font-size: 36px;
}
.flexheaderspace {
  background-color: DarkOrange;
  padding: 20px 250px 0px 250px;
}
.flexheaderemail {
  background-color: red;
  padding: 40px 0px 0px 0px;
}




/* Menu */

.menu {
  display: flex;
  background-color: Aquamarine;
  text-align: center;
  align-items: center; /* ? */
  width: 1000px;
  height: 40px;
  margin: auto;
}
.menu a {
  align-items: center;
  padding: 12px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #be5100;
  color: white;
}
.menu a.active {
  background-color: #be5100;
  color: white;
}





/* Tablet Screens */

@media screen and (max-width: 1000px) {
  
  /* Header with name and email */
  .flexheader {
    width: 100%;
  }
  .flexheadername {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .flexheaderspace {
    background-color: DarkOrange;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .flexheaderemail {
    flex-grow: 0;
    flex-shrink: 0;
  }
  /* Menu */
  .menu {
    width: 100%;
  }
}





/* Mobile Screens */

@media screen and (max-width: 525px) {
  .flexheader {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .flexheadername {
    background-color: DodgerBlue;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .flexheaderspace {
    padding-top: 0px;
  }
  .flexheaderemail {
    background-color: DarkOrange;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  /* Menu */
  .menu {
    height: 30px;
  }
  .menu a {
  padding: 7px;
  }
}

