/* The CSS selector `*' applies the specified values to the specified properties across all elements in the webpage whatsoever. */
/* The code `display: flex;' makes every item, in the contain in question, a flex item. */
/* The entry `margin: auto' is what centers the flexheader entry horizontally in the browser. */
/* The value of 40px assigned to `padding-top' in `flexheaderemail' was obtained by this equation: 40px = 20px (padding-top for flexheader name) + 36px (size of text in flexheadername) -16px (size of text in this element) */
/* The padding on the `.menu a' classes was calculated, in all cases, so that it equals the amount of space above and below the text in the menu buttons. */
/* The `text-decoration: none' command is usually used to remove the underline from hyperlinks. */




/* Website Header */

.flexheader {
  display: flex;
  width: 950px;
  margin: auto;
  background-color: green;
}
.flexheadername {
  background-color: DodgerBlue;
  padding: 20px 20px 0px 0px;
  font-size: 36px;
}
.flexheaderspace {
  background-color: DarkOrange;
  padding: 20px 250px 0px 250px;
}
.flexheaderemail {
  background-color: red;
  padding: 40px 0px 0px 0px;
}




/* Navigation Menu */

.menu {
  display: flex;
  background-color: Aquamarine;
  text-align: center;
  align-items: center; /* ? */
  width: 950px;
  margin: auto;
}
.menu a {
  align-items: center;
  padding: 10px;
  text-decoration: none;
}
.menu a:hover {
  background-color: #be5100;
  color: white;
}
.menu a.active {
  background-color: #be5100;
  color: white;
}




/* Dropdown Menu */

/* This defines the class in which the entire dropdown menu -- both the menu itself and the associated button -- will be wrapped. */
.dropdown {
  display: inline-block; /*  Removing "position: relative;" from this was important; with that declaration in there, the dropdown menu was being shrunk so that the text in the "Activities" section wrapped, and there wasn't much I could do about it. */
}
/* This styles the button, in the menu bar, itself. */
.dropbtn {
  display: inline-block; /* Adding "display: inline-block" here was crucial...without it, the spacing was off. */
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
/* This ensures that when the cursor goes over the menu, the button dropbtn2 will still be highlighted. */
.dropdown:hover .dropbtn {
  background-color: #be5100;
  color: white;
}
/* This defines the dropdown menu, and hides it using "display: none;". */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9; /* Maybe add back in " min-width: 160px;" */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* This says that when the cursor hovers over any part of the dropdown2 environment, the dropdown menu appears; i.e. it's display value chaanges from "none" to "block". */
.dropdown:hover .dropdown-content {
  display: block;
}
/* This styles the buttons in the dropdown menu. */
.dropdown-content a {
  font-size: 14px;
  color: black;
  text-align: left;
  padding: 10px; 
  text-decoration: none;
  display: block; 
}
/* This says how to highlight a button in the dropdown menu when the cursor hovers over it. */
.dropdown-content a:hover {
  background-color: #be5100
  color: white;
}




/* Horizontal Line */
hr { 
  width: 950px;
  height: 1px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-width: 0px;
  background-color: #dcdcdc;
}




/* Biography */

.flexbio {
  display: flex;
  width: 950px;
  margin: auto;
  background-color: DarkOrange;
}
.flexbiopicture {
  background-color: DodgerBlue;
  padding: 20px 0px 0px 20px;
}
.flexbiodescription {
  background-color: red;
  padding: 20px 20px 0px 0px;
}




/* Tablet Screens */

@media screen and (max-width: 950px) {
  
/* Header with name and email */
  .flexheader {
    width: 100%;
  }
  .flexheadername {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .flexheaderspace {
    background-color: DarkOrange;
    padding: 0px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .flexheaderemail {
    flex-grow: 0;
    flex-shrink: 0;
  }

/* Navigation Menu */
  .menu {
    width: 100%;
  }

/* Horizontal Line */
  .line {
    width: 100%;
  }

}





/* Mobile Screens */

@media screen and (max-width: 525px) {

/* Website Header */
  .flexheader {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .flexheadername {
    background-color: DodgerBlue;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .flexheaderspace {
    padding-top: 0px;
  }
  .flexheaderemail {
    background-color: DarkOrange;
    padding: 0px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
/* Navigation Menu */
  .menu a {
  padding: 7px;
  }

}

