
/* The CSS selector `*' applies the specified values to the specified properties across all elements in the webpage whatsoever. */

 * {
  
} 



/* The code `display: flex;' makes every item, in the contain in question, a flex item. */

.flexheader {
  display: flex;
  width: 800px;
  background-color: green;
}

.flexheadername {
  background-color: DodgerBlue;
  margin: 10px;
  padding: 20px;
  font-size: 36px;
}

.flexheaderspace {
  background-color: DimGray;
  margin: 10px;
  padding-top: 20px;
  padding-right: 200px;
  padding-bottom: 20px;
  padding-left: 200px;
}

/* The value of 40px assigned to `padding-top' was obtained by this equation: 40px = 20px (padding-top for flexheader name) + 36px (size of text in flexheadername) -16px (size of text in this element) */

.flexheaderemail {
  background-color: red;
  margin: 10px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
}






